@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
/* ///////// RESET ////////// */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 100vw;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: var(--Slate-100);
}

/* ///////// RESET ////////// */

/* ///////// Colors ////////// */

:root {
  --Lime: hsl(61, 70%, 52%);
  --Red: hsl(4, 69%, 50%);
  --White: hsl(0, 0%, 100%);
  --Slate-100: hsl(202, 86%, 94%);
  --Slate-300: hsl(203, 41%, 72%);
  --Slate-500: hsl(200, 26%, 54%);
  --Slate-700: hsl(200, 24%, 40%);
  --Slate-900: hsl(202, 55%, 16%);
}

/* ///////// Colors ////////// */

/* ///////// TYPOGRAPHY ////////// */

.text-1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 125%;
  letter-spacing: -1px;
  color: var(--Lime);
}
.text-2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: -1px;
}
.text-2-results {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: -1px;
  color: var(--White);
}
.text-3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: -1px;
  color: var(--Slate-900);
}
.text-4 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}
.text-4-results {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--Slate-300);
}
.text-5 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--Red);
}

/* ///////// TYPOGRAPHY ////////// */
/* ///////// BUTTON ////////// */

.btn-1 {
  border: none;
  background-color: var(--Lime);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 0 40px;
  max-width: 314px;
  min-height: 56px;
  color: var(--Slate-900);
  border-radius: 100px;
}
.btn-1:hover {
  background-color: rgba(215, 218, 47, 0.5);
}

/* ///////// BUTTON ////////// */

main {
  max-width: 1008px;
  width: 100%;
  min-height: 606px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--White);
  border-radius: 24px;
  box-shadow: 0 32px 64px 0 rgba(19, 48, 65, 0.1);
}

.calculator-container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 40px;
  max-width: 504px;
  width: 100%;
  min-height: 606px;
}

.no-results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 1rem;
  max-width: 504px;
  width: 100%;
  min-height: 606px;
  background-color: var(--Slate-900);
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 24px;
  border-top-right-radius: 24px;
  text-align: center;
}
.completed-results-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap: 40px;
  max-width: 504px;
  width: 100%;
  min-height: 606px;
  background-color: var(--Slate-900);
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 24px;
  border-top-right-radius: 24px;
}

.your-results-title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.payments-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.25);
  max-width: 424px;
  width: 100%;
  min-height: 293px;
  border-radius: 8px;
  border-top: 4px solid var(--Lime);
  gap: 2rem;
}
.monthly-repayments,
.total-repayment {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.results-divider {
  height: 1px;
  background-color: rgba(154, 190, 213, 0.25);
  max-width: 360px;
  width: 100%;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.clear {
  color: var(--Slate-700);
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
}

.form-inputs-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.amount-input-container,
.mortgage-type-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0;
  border-radius: 4px;
  border: 1px solid var(--Slate-500);
}

.input-item {
  padding: 12px 16px;
  background-color: var(--Slate-100);
  color: var(--Slate-700);
}

.pound-radius {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.other-radius {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.term-interest-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.term-container,
.interest-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 200px;
  width: 100%;
}

label {
  color: var(--Slate-700);
  display: flex;
  gap: 1rem;
}

.mortgage-type-option label {
  cursor: pointer;
}

#mortgage-term,
#interest-rate,
#amount-input {
  padding: 0 1rem;
  height: 40px;
  border: none;
  width: 100%;
}

input[type="number"],
input[type="checkbox"] {
  cursor: pointer;
}
input[type="number"]:focus {
  outline: none;
}

.input-container:focus-within {
  border: 1px solid var(--Lime);
}
.input-container:focus-within .input-item {
  background-color: var(--Lime);
  color: var(--Slate-900);
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}
input[type="checkbox"]:checked + label::before {
  border: 2px solid var(--Lime);
  content: "\00D7";
  color: var(--Lime);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mortgage-type-option label::before {
  content: "";
  height: 24px;
  width: 24px;
  border: 1px solid var(--Slate-700);
  border-radius: 50px;
}

.mortgage-type-option:focus-within {
  border: 1px solid var(--Lime);
  background-color: rgba(216, 219, 47, 0.15);
}

.mortgage-type-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  border: 1px solid #6b94a8;
  height: 48px;
  border-radius: 4px;
}
.mortgage-type-option:hover {
  border: 1px solid var(--Lime);
}
.mortgage-type-option label {
  color: var(--Slate-900);
}

@media (max-width: 1050px) {
  body {
    padding: 2rem 0;
  }
  main {
    max-width: 688px;
    min-height: 988px;
    flex-direction: column;
  }
  .calculator-container {
    max-width: 688px;
  }

  .results-container {
    max-width: 688px;
    min-height: 382px;
    border-bottom-left-radius: 24px;
    border-top-right-radius: 0px;
  }
  .term-container,
  .interest-container {
    max-width: 292px;
  }
}

@media (max-width: 600px) {
  main {
    max-width: 688px;
    min-height: 1088px;
    border-radius: 0px;
    box-shadow: none;
  }

  .calculator-container {
    padding: 32px 24px;
    gap: 24px;
    max-width: 375px;
    min-height: 698px;
  }

  .results-container {
    padding: 32px 24px;
    max-width: 375px;
    min-height: 390px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .title {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8px;
  }

  .term-interest-container {
    flex-direction: column;
  }
  .term-container,
  .interest-container {
    max-width: 327px;
  }
  .btn-1 {
    max-width: 327px;
  }
}

.hidden {
  display: none;
}
